/* Add your CSS styles here  */
.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-image: url(../img/login.jpg); */
  background: url(../img/login.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh; /* For 100% screen height */
  width: 100vw; /* For 100% screen width */
}

.login-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 auto;
  /* background-color: #fff; */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  /* background-color: #d3d3d3; */
  background-color: #00000000;
  text-align: center;
}

.form-control {
  width: 80%;
  height: 40px;
  margin-bottom: 15px;
  font-size: 14px;
  /* border: 1px solid #ddd; */
  border: 2px solid #ddd;
  background-color: #00000000;
  border-radius: 5px;
  padding: 0 15px;
  outline: none;
}

.form-control:active {
  background-color: #ddd;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.btn {
  width: 100%;
  height: 40px;
  background-color: #00000000;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.btn:hover {
  color: #fff;
  background-color: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-wrapper {
  /* Other styles here */
  animation: fadeIn 1s;
}

/* Style the form and its elements for mobile and tablet screens */
@media screen and (max-width: 600px) {
  .login-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    /* margin-left: 1px; */
  }

  .form-control {
    width: 70%;
  }

  .btn {
    width: 60%;
  }
}
